<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ClearPlan @ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap">
    <link rel="stylesheet" href="~/css/cp.css" asp-append-version="true" />
</head>
<body>

    <header class="cp-app-header">
        <div class="cp-appbar">
            <div class="cp-app-home">
                <figure class="cp-app-logo">
                    <img src="" alt="" />
                </figure>
                <div class="cp-app-title">
                    <span>App Title</span>
                </div>
            </div>
            <div class="cp-app-identity">
                <span>Azure AD identity</span>
            </div>
        </div>
        <nav class="cp-toolbar">
            <ul class="cp-toolbar-links c-nav">
                <li><a href="javascript:void(0)">Link 1</a></li>
                <li><a href="javascript:void(0)">Link 2</a></li>
                <li><a href="javascript:void(0)">Link 3</a></li>
                <li><a href="javascript:void(0)">Link 4</a></li>
            </ul>
        </nav>
    </header>

    <main role="main" class="cp-main">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/cp.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
